.Movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.MovieContainer{
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.Movie{
    width: 13vw;
    background-color: rgba(82, 72, 64, 0.44);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    text-align: center;
    margin-top: 20px;
}
.Movie p{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
.Movie:hover{
    box-shadow: rgba(206, 65, 65, 0.17) 0 -23px 25px 0 inset, rgba(217, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(129, 26, 26, 0.1) 0 -79px 40px 0 inset, rgba(255, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    cursor: pointer;
}
.Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.Buttons ul button{
    display: inline;
}
.Button, .ActiveButton{
    align-items: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), linear-gradient(92.83deg, #b72626 0, rgba(217, 58, 58, 0.92) 100%);
    border-radius: 42px;
    width: 100px;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Bungee Inline', cursive;
    justify-content: center;
    margin: 0 0 0 10px;
    padding: 17px 17px;
    text-align: center;
    text-decoration: none;
}
.ActiveButton{
    border: 2px solid rgb(238, 36, 36);
    box-shadow: rgb(238, 36, 36) 4px 4px 0 0;
    color: rgb(238, 36, 36);
    background: white;
}
.Button:hover{
    background-image: linear-gradient(#f56969, rgba(238, 36, 36, 0.81) 50%);
}
.Button:disabled{
    background: rgba(166, 157, 157, 0.64);
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.79);
}
.GenreHeader h1{
    font-size: 3em;
    margin: 0 0 0 60px;
    color: white;
}
.MovieInfoContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(208, 115, 115, 0.52);
    box-shadow: 25px 0 20px -20px rgba(155, 154, 154, 0.45), -25px 0 20px -20px rgba(121, 120, 120, 0.61);
}
.InnerContainer{
    width: 100vw;
    display: flex;
}
.Poster{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    position: relative;
    margin-top: 20px;
}

.MovieInfo{
    width: 52vw;
    margin-top: 20px;

    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: rgba(0, 0, 0, 0.63) 0 22px 70px 4px;
    border-radius: 15px;
}
.OriginalTitle{
    font-size: 50px;
    color: #071a4f;
    text-shadow: 2px 2px 2px black;
    margin-left: 10px;
}
.Info{
    font-size: 30px;
    color: #071a4f;
    margin-left: 10px;
}
.Genre span{
    font-size: 30px;
    color: #8d1329;
    cursor: pointer;
}
.Info i{
    font-weight:bold ;
    color: #071a4f;
    /*text-shadow: 1px 1px 1px white;*/
}
.Genre i{
    font-size: 30px;
    font-weight:bold ;
    color: #071a4f;
    /*text-shadow: 1px 1px 1px white;*/
    margin-left: 10px;
}
.StarsRating{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.StarsRating p{
    color: white;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 2px solid;
    border-top: 2px solid;
    margin: 5px;
}
.VideoReviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.ErrorText, .ReviewsErrorText{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(166, 157, 157, 0.66);
    box-shadow: rgba(0, 0, 0, 0.63) 0 22px 70px 4px;
}
.ReviewsText, .TrailerText{
    font-size: 42px;
    color: white;
    margin: 50px 0 0 100px;

}
.Line{
    width: 100vw;
    height: 2px;
    background-color: white;
}
.Review{
    width: 80vw;
    margin-left: 40px;
    padding: 0 0 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.Author{
    font-size: 22px;
    font-weight:bold ;
    margin-bottom: 0;

}
.Date{
    font-size: 14px;
    margin: 0;
}
.Content{
    font-size: 20px;

}